<!doctype html>
<html lang="en">
<head> 
    <script defer="defer" src="/.js"></script>
    <link href="/views/css/main.css" rel="stylesheet">
    
 </head>
<div class="cart-card">
    <div class="info">
        <span class="title2">Add User Information</span>
        <hr/>
        <form name="myForm" novalidate>

            <div class="form-group">
                <label class="label1">Name</label>
                <input type="text" name="name" id="name" class="form-control" ng-model="ctrl.userDetails.userName"
                       required/>
                <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$error.required"
                      class="help-block">Name is required.</span>
            </div>
<!--            <div class="input-row">-->
<!--                <label class="label1">Password</label>-->
<!--                <input class="cart-input" ng-model="ctrl.userDetails.password" type="password"-->
<!--                       placeholder="Enter your password">-->
<!--            </div>-->

            <div class="form-group">
                <label class="label1">Email ID</label>
                <input type="text" name="email" id="email" class="form-control" ng-model="ctrl.userDetails.email"
                       required/>
                <span style="color:red" class="help-block" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">Email is required.</span>
                    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                </span>
            </div>

            <div class="input-row">
                <label class="label1">Age</label>
                <input class="cart-input" ng-model="ctrl.userDetails.age" type="number"
                       placeholder="Enter your age">
            </div>
            <div class="input-row">
                <label class="label1">Pin code</label>
                <input class="cart-input" ng-keyup="ctrl.fetchPostalInfo(ctrl.userDetails.pincode)"
                       ng-model="ctrl.userDetails.pincode" type="number"
                       placeholder="Enter your Pin Code">
                <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-danger"
                     ng-show="ctrl.postalCodeNotFoundMessagebool">
                    <strong>{{ctrl.postalCodeNotFoundMessage}}</strong>
                </div>
            </div>
            <div class="input-row">
                <label class="label1">State</label>
                <input class="input2" ng-model="ctrl.userDetails.state" type="text"
                       placeholder="Enter your State">
            </div>
            <div class="input-row">
                <label class="label1">City</label>
                <input class="cart-input" ng-model="ctrl.userDetails.city" type="text"
                       placeholder="Enter your City">
            </div>
            <div class="input-row">
                <label class="label1">Role</label>
                <select ng-model="ctrl.selectedRoleName" ng-options="x for x in ctrl.roleNames"
                        class="required"></select>
            </div>
            <br>
            <button ng-disabled="myForm.name.$error.required || myForm.email.$invalid || myForm.roleId.$error.required"
                    ng-click="ctrl.createUser()"> Add
            </button>
            <button ng-click="ctrl.reDirectToDashboard()"> Back</button>
            <div class="message2" ng-show="ctrl.successUserAddedMessagebool">
                <strong>{{ ctrl.successUserAddedMessage }}</strong>
            </div>
            <div class="message2" ng-show="ctrl.failedUserAddedMessagebool">
                <strong>{{ ctrl.failedUserAddedMessage }}</strong>
            </div>
        </form>
    </div>
</div>
</html>